NODE_ENV=development
REALTIME_PORT=4000
NEXT_PUBLIC_REALTIME_URL=http://localhost:4000
DATABASE_URL="postgresql://watch_with_me:watch_with_me_dev@localhost:5432/watch_with_me"
REDIS_URL=redis://localhost:6379
REALTIME_ROOM_REPOSITORY=prisma
REALTIME_ORIGINS=http://localhost:3000
REALTIME_MAX_PAYLOAD=32kb
